html {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    box-sizing: border-box;
    height: 200vh;
}

a {
    text-decoration: none;
}

nav {
    position: static;
    top: 0;
    background-color: #fff;
    width: 100vw;
}

.header-top {
    justify-content: space-around;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 240px !important;
    overflow-y: scroll;
}

.sidebar-top {
    height: 56px;
    padding-left: 16px;
    padding-top: 10px;
    display: flexbox;
    display: flex;
    align-items: center;
    position: sticky !important;
    top: 0px;
    background-color: #fff;
}

.navbar-toggler {
    padding: 8px;
    border: 0;
    border-radius: 100%;
    box-shadow: none !important;
}

.navbar-toggler:hover {
    border: 0;
    box-shadow: none;
    background-color: #ebebeb;
}

.sidebar-img {
    padding: 18px 14px 18px 16px;
    height: 20px;
    width: 90px;
}

.sidebar-bottom {
    padding-inline: 12px;
}

.sidebar-center {
    padding: 12px;
}

.sidebar-center-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-center-text {
    --paper-item-focused-before-border-radius: 10px;
    --paper-item-focused-before-background: var( --ytd-guide-entry-renderer-focused-guide-item-background-color, var(--yt-spec-icon-active-other) );
    padding: 7px 12px;
    min-width: 0;
}

.sidebar-center-text {
    --paper-item-focused-before-border-radius: 10px;
    --paper-item-focused-before-background: var( --ytd-guide-entry-renderer-focused-guide-item-background-color, var(--yt-spec-icon-active-other) );
}

.sidebar-center-1 {
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}

.sidebar-center-link span {
    font-size: 14px;
    line-height: 19px;
    width: 140px;
    font-weight: 500;
    color: #1b1b1b;
}

.principal:hover {
    background-color: #e3e3e3 !important;
}

.bg:hover,.header-lupa:hover {
    background-color: #e3e3e3 !important;
}

.bg1:hover {
    color: #8f8f8f !important;
}

.sidebar-center-text:hover {
    background-color: #f2f2f2;
    border-radius: 8px;
}

.sidebar-center-1,.sidebar-center-2,.sidebar-center-3,.sidebar-center-4,.sidebar-center-5 {
    margin-bottom: 15px;
}

.sidebar-center-2,.sidebar-center-3,.sidebar-center-4,.sidebar-center-5,.sidebar-bottom {
    margin-top: 15px;
}

.linea {
    border-bottom: #ebebeb solid 2px;
}

.sidebar-bottom-box {
    margin-bottom: 10px;
}

.sidebar-bottom-link a{
    font-size: 12.5px;
    font-weight: 600;
    line-height: px;
    color: #6a6a6a;
}

.sidebar-bottom-link {
    height: 18px;
}

.sidebar-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.sidebar-bottom-text {
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 15px;
}

input {
    width: 40vw !important;

    border: none !important;
    box-shadow: none;
}

input:focus,input:active {
    width: 40vw !important;
    height: 40px;
    border-radius: 50px 0px 0px 50px;
    box-shadow: none;
    border: none !important;
    
}

.header-lupa {
    padding-inline: 23px !important;
}

.left {
    margin: 90px 0px 0px 7vw;
    display: grid;
    grid-template-columns: 690px 200px;
    grid-template-rows: repeat(fit-content);
    grid-template-areas: "top right" "center right" "bottom right";
}

#myRecomendados {
    grid-area: right;
}

#myDescripcion {
    grid-area: center;
}

#myComentarios {
    grid-area: bottom;
}

.video {
    grid-area: top;
    height: 40vw;
    max-height: 720px;
    width: 660px;
    height: 371px;
    max-width: 1408px;
    background-color: black;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

iframe {
    border-radius: 15px;
}

.recomendados-box {
    margin-top: 200px;
}

.recomendados-box {
    margin: 5px 70px 0px 30px;
    display: flex;

}

.recomendados-miniatura {
    border-radius: 10px;
    border: 1.5px solid transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 168px;
    height: 94px;
}

.recomendados-miniatura:hover {
    border: 1.5px solid #a4a4a4;
}

.recomendados-informacion {
    margin-left: 5px;
}

.recomendados-title {
    font-size: 13px;
    font-weight: 600;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}

.recomendados-channel,.recomendados-views,.recomendados-date {
    font-size: 12px;
    color: #6a6a6a;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recomendados-date {
    margin-left: 4px;
}

.descripcion {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 660px;
}

.descripcion-main {
    display: flex;
    align-items: center;
}

.descripcion-title {
    font-weight: 600;
    font-size: 18px;
}

.descripcion-canal-informacion {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.descripcion-canal-texto {
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.descripcion-canal-informacion img {
    border-radius: 100%;
    margin-right: 15px;
    width: 35px;
}

.descripcion-canal {
    font-weight: 600;
    font-size: 15px;
}

.descripcion-subs {
    font-size: 12px;
}

.descripcion-canal-informacion a {
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding: 7px 12px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 40px;
}

.descripcion-likes {
    display: flex;
    margin-right: 20px;
}

.like a {
    display: flex;
    background-color: #f2f2f2;
    height: 25px;
    padding: 20px 15px;
    align-items: center;
    border-radius: 50px 0px 0px 50px !important;
    border-right: 1.8px solid #d3d3d3;
    margin: 0px !important;
}

.like a:hover {
    background-color: #d3d3d3;
    border-radius: 50px 0px 0px 50px !important;
}

.dislike a:hover {
    background-color: #d3d3d3;
    border-radius: 0px 50px 50px 0px !important;
}

.dislike a {
    display: flex;
    background-color: #f2f2f2;
    height: 25px;
    padding: 20px 20px 20px 10px;
    align-items: center;
    border-radius: 0px 50px 50px 0px;
}

.like a,.dislike a {
    font-size: 20px;
    margin-right: 5px;
    color: #000;
}

.descripcion-like {
    font-size: 14px;
}

.descripcion-compartir a {
    display: flex;
    background-color: #f2f2f2;
    height: 25px;
    font-size: 20px;
    padding: 20px 15px;
    align-items: center;
    border-radius: 50px;
    color: #000;
    margin-right: 20px;
}

.descripcion-compartir a div {
    margin-left: 5px;
    font-size: 14px;
}

.descripcion-compartir a:hover,.puntos a:hover {
    background-color: #d3d3d3;
}

.puntos a {
    display: flex;
    background-color: #f2f2f2;
    height: 25px;
    padding: 20px 12px;
    align-items: center;
    border-radius: 100%;
    color: #000;
}

.descripcion-info {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;

}

.descripcion-top {
    display: flex;
    font-weight: 600;
}

.vistas {
    margin-right: 5px;
}

.comentarios-cantidad {
    margin-block: 20px;
    font-size: 15px;
}

.comentario-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comentario {
    margin-bottom: 20px !important;
    display: flex;
    width: 660px;
}

.comentario img {
    border-radius: 100%;
    margin-right: 15px;
    width: 35px;
    height: 35px;
}

.comentario-contenido {
    display: flex;
}

.comentarios-likes {
    display: flex;
    align-items: center;
}

.comentario-autor {
    font-weight: 600;
    font-size: 13px;
    margin-right: 5px;
    color: #000;
}

.comentario-date {
    font-size: 12px !important;
    color: #6a6a6a;
}

.contenido {
    font-size: 14.5px;
    margin-block: 5px;
}

.comentarios-like {
    font-size: 20px;
    color: #000;
    margin-right: 3px;
    border-radius: 100%;
    background-color: #f2f2f2;
    padding: 10px;
}

.comentarios-like:hover,.comentarios-dislike:hover,.comentarios-responder:hover,.comentarios-puntos:hover {
    background-color: #d3d3d3;
}

.likes-cantidad {
    font-size: 13px;
}

.comentarios-dislike {
    font-size: 20px;
    color: #000;
    margin-inline: 20px 30px;
    border-radius: 100%;
    background-color: #f2f2f2;
    padding: 10px;
}

.comentarios-responder {
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
}

.comentarios-puntos {
    font-size: 20px;
    color: #000;
    margin-inline: 20px 30px;
    border-radius: 100%;
    background-color: #f2f2f2;
    padding: 10px;
}

@media screen and (max-width: 999px) {
    nav {
        align-items: center;
    }

    .nav-container {
        min-width: 100% !important;
        height: 56px;
        padding: 0px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .header-top-left {
        margin-right: 10vw;
        position: fixed;
        left: 0;
    }

    .header-top-center {
        margin-right: 4vw;
        position: fixed;
        left: 33%;
    }

    .header-top-right {
        justify-content: flex-end;
        position: fixed;
        right: 0;
    }

    input {
        width: 20vw !important;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .left {
        margin-inline: 2.6vw;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(800px);
        grid-template-areas: "top" "center" "center2" "bottom";
    }

    .video {
        grid-area: top;
        width: 95vw;
        height: 53.5vw;
    }

    .descripcion,.comentarios {  
        width: 95vw;
    }

    #myDescription {
        grid-area: center;
        display: flex;
        flex-wrap: wrap;
    }

    #myRecomendados {
        grid-area: center2;
        margin-left: 0px !important;
    }

    #myComentarios {
        grid-area: bottom;
        width: 95vw;
    }

    .recomendados-box,.recomendados-title {
        width: 55vw !important;
        white-space: normal !important;
        margin-inline: 0px;
    }
}

@media screen and (max-width: 656px) {
    .header-top-center {
        display: none !important;
    }

    .lupita {
        display: initial !important;
        border: none !important;
    }

    .lupita:hover {
        background-color: #e3e3e3 !important;
    }
}