html {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    box-sizing: border-box;
    height: 200vh;
}

a {
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    overflow-x: scroll;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 240px !important;
    overflow-y: scroll;
}

.sidebar-top {
    height: 56px;
    padding-left: 16px;
    padding-top: 10px;
    display: flexbox;
    display: flex;
    align-items: center;
    position: sticky !important;
    top: 0px;
    background-color: #fff;
}

.navbar-toggler {
    padding: 8px;
    border: 0;
    border-radius: 100%;
    box-shadow: none !important;
}

.navbar-toggler:hover {
    border: 0;
    box-shadow: none;
    background-color: #ebebeb;
}

.sidebar-img {
    padding: 18px 14px 18px 16px;
    height: 20px;
    width: 90px;
}

.sidebar-bottom {
    padding-inline: 12px;
}

.sidebar-center {
    padding: 12px;
}

.sidebar-center-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-center-text {
    --paper-item-focused-before-border-radius: 10px;
    --paper-item-focused-before-background: var( --ytd-guide-entry-renderer-focused-guide-item-background-color, var(--yt-spec-icon-active-other) );
    padding: 7px 12px;
    min-width: 0;
}

.sidebar-center-text {
    --paper-item-focused-before-border-radius: 10px;
    --paper-item-focused-before-background: var( --ytd-guide-entry-renderer-focused-guide-item-background-color, var(--yt-spec-icon-active-other) );
}

.sidebar-center-1 {
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}

.sidebar-center-link span {
    font-size: 14px;
    line-height: 19px;
    width: 140px;
    font-weight: 500;
    color: #1b1b1b;
}

.principal:hover {
    background-color: #e3e3e3 !important;
}

.bg:hover,.header-lupa:hover {
    background-color: #e3e3e3 !important;
}

.bg1:hover {
    color: #8f8f8f !important;
}

.sidebar-center-text:hover {
    background-color: #f2f2f2;
    border-radius: 8px;
}

.sidebar-center-1,.sidebar-center-2,.sidebar-center-3,.sidebar-center-4,.sidebar-center-5 {
    margin-bottom: 15px;
}

.sidebar-center-2,.sidebar-center-3,.sidebar-center-4,.sidebar-center-5,.sidebar-bottom {
    margin-top: 15px;
}

.linea {
    border-bottom: #ebebeb solid 2px;
}

.sidebar-bottom-box {
    margin-bottom: 10px;
}

.sidebar-bottom-link a{
    font-size: 12.5px;
    font-weight: 600;
    line-height: px;
    color: #6a6a6a;
}

.sidebar-bottom-link {
    height: 18px;
}

.sidebar-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.sidebar-bottom-text {
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 15px;
}

input {
    width: 40vw !important;
    border: none !important;
    box-shadow: none;
}

input:focus,input:active {
    width: 40vw !important;
    height: 34px;
    border-radius: 50px 0px 0px 50px;
    box-shadow: none;
    border: none !important;
    
}

.header-lupa {
    padding-inline: 23px !important;
}

main {
    margin: 90px 0px 0px 80px;
    display: flex;
    flex-direction: row;
}

.video {
    height: 40vw;
    max-height: 720px;
    width: 660px;
    height: 371px;
    max-width: 1408px;
    background-color: black;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

iframe {
    border-radius: 15px;
}

.recomendados-box {
    margin-top: 200px;
}

.recomendados-box {
    margin: 5px 70px 0px 30px;
    display: flex;

}

.recomendados-miniatura {
    border-radius: 10px;
    border: 1.5px solid transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 168px;
    height: 94px;
}

.recomendados-miniatura:hover {
    border: 1.5px solid #a4a4a4;
}

.recomendados-informacion {
    margin-left: 5px;
}

.recomendados-title {
    font-size: 13px;
    font-weight: 600;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}

.recomendados-channel,.recomendados-views,.recomendados-date {
    font-size: 12px;
    color: #6a6a6a;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recomendados-date {
    margin-left: 4px;
}

.descripcion {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.descripcion-main {
    display: flex;
    align-items: center;
}

.descripcion-title {
    font-weight: 600;
    font-size: 18px;
}

.descripcion-canal-informacion {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.descripcion-canal-texto {
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.descripcion-canal-informacion img {
    border-radius: 100%;
    margin-right: 15px;
    width: 35px;
}

.descripcion-canal {
    font-weight: 600;
    font-size: 15px;
}

.descripcion-subs {
    font-size: 12px;
}

.descripcion-canal-informacion a {
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    padding: 7px 12px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 40px;
}

.descripcion-likes {
    display: flex;
    margin-right: 20px;
}

.like a {
    display: flex;
    background-color: #f2f2f2;
    height: 25px;
    padding: 20px 15px;
    align-items: center;
    border-radius: 50px 0px 0px 50px !important;
    border-right: 1.8px solid #d3d3d3;
    margin: 0px !important;
}

.like a:hover {
    background-color: #d3d3d3;
    border-radius: 50px 0px 0px 50px !important;
}

.dislike a:hover {
    background-color: #d3d3d3;
    border-radius: 0px 50px 50px 0px !important;
}

.dislike a {
    display: flex;
    background-color: #f2f2f2;
    height: 25px;
    padding: 20px 20px 20px 10px;
    align-items: center;
    border-radius: 0px 50px 50px 0px;
}

.like a,.dislike a {
    font-size: 20px;
    margin-right: 5px;
    color: #000;
}

.descripcion-like {
    font-size: 14px;
}

.descripcion-compartir a {
    display: flex;
    background-color: #f2f2f2;
    height: 25px;
    font-size: 20px;
    padding: 20px 15px;
    align-items: center;
    border-radius: 50px;
    color: #000;
    margin-right: 20px;
}

.descripcion-compartir a div {
    margin-left: 5px;
    font-size: 14px;
}

.descripcion-compartir a:hover,.puntos a:hover {
    background-color: #d3d3d3;
}

.puntos a {
    display: flex;
    background-color: #f2f2f2;
    height: 25px;
    padding: 20px 12px;
    align-items: center;
    border-radius: 100%;
    color: #000;
}

.descripcion-info {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;

}

.descripcion-top {
    display: flex;
    font-weight: 600;
}

.vistas {
    margin-right: 5px;
}